<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
	
		<!-- Site Title -->
		<title>Travel</title>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="/Style/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		
			<!-- Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Travel Agency Sign In Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		
		<script type="text/javascript" src="/Style/js/jquery-3.3.1.js"></script>

	<!-- //Meta-Tags -->

	<!-- Custom-Styleheet-Links -->
		<link rel="stylesheet" href="/Style/css/style.css" 		 type="text/css" media="all">
		<link rel="stylesheet" href="/Style/css/animate-custom.css" type="text/css" media="all">
	<!-- //Custom-Styleheet-Links -->

	<!-- Fonts -->
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" type="text/css" media="all">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" 		  type="text/css" media="all">

		
		

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="/Style/css/linearicons.css">
			<link rel="stylesheet" href="/Style/css/font-awesome.min.css">
			<link rel="stylesheet" href="/Style/css/bootstrap.css">
			<link rel="stylesheet" href="/Style/css/magnific-popup.css">
			<link rel="stylesheet" href="/Style/css/jquery-ui.css">				
			<link rel="stylesheet" href="/Style/css/nice-select.css">							
			<link rel="stylesheet" href="/Style/css/animate.min.css">
			<link rel="stylesheet" href="/Style/css/owl.carousel.css">				
			<link rel="stylesheet" href="/Style/css/main.css">
		</head>
		<body>	
			<header id="header">
				<div class="header-top">
					<div class="container">
			  		<div class="row align-items-center">
			  			<div class="col-lg-6 col-sm-6 col-6 header-top-left">
			  						
			  			</div>
			  			<div class="col-lg-6 col-sm-6 col-6 header-top-right">
							<div class="header-social">
								<a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
								<a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
								<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
							</div>
			  			</div>
			  		</div>			  					
					</div>
				</div>
				<div class="container main-menu">
					<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="../Home/index.html"><img src="/Style/img/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a href="/home">Home</a></li>
				          <li><a href="/home/about">About</a></li>
				          <li><a href="/hotel-post">Packages</a></li>
				          <li><a href="/hotel/hotel2">Hotels</a></li>
				          <li><a href="/signup">Sign up</a></li>
				          <li class="menu-has-children"><a href="/login">Login</a></li>
				          <li><a href="/logout">Logout</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->					      		  
					</div>
				</div>
			</header><!-- #header -->



	<h1 class="w3layouts agileits">TRAVEL AGENCY SIGN IN FORM</h1>

	<div class="container w3layouts agileits">

		<div class="content-left w3layouts agileits">
			<img src="/Style/img/background.jpg" alt="W3layouts Agileits">
			<p>Plan your next dream trip. Select your destination and leave the rest to us.</p>
		</div>

		<div class="content-right w3layouts agileits">
			<section>
				<div id="container_demo">
					<a class="hiddenanchor w3layouts agileits" id="tologin"></a>
					<a class="hiddenanchor w3layouts agileits" id="toregister"></a>
					<div id="wrapper">
						
						<div id="register" class="animate w3layouts agileits form">
							<h2>Hotel Sign IN</h2>
							
									<form method="post">
                            <table>
                                <tr>
                                    <td>User email</td>
                                    <td><input type="text" name="email" /></td>
                                </tr>
                                <tr>
                                    <td>Password</td>
                                    <td><input type="password" name="password" /></td>
                                </tr>
                                
                            </table>
									
									
									<div class="send-button w3layouts agileits">
										
											<input type="submit" value="SIGN IN">
									</div>
								
								
								<div class="clear"></div>
							</form>
						</div>
				</div>
			</section>
		</div>
		<div class="clear"></div>

	</div>

			<script src="/Style/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="/Style/js/popper.min.js"></script>
			<script src="/Style/js/vendor/bootstrap.min.js"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script src="/Style/js/jquery-ui.js"></script>					
  			<script src="/Style/js/easing.min.js"></script>			
			<script src="/Style/js/hoverIntent.js"></script>
			<script src="/Style/js/superfish.min.js"></script>	
			<script src="/Style/js/jquery.ajaxchimp.min.js"></script>
			<script src="/Style/js/jquery.magnific-popup.min.js"></script>						
			<script src="/Style/js/jquery.nice-select.min.js"></script>					
			<script src="/Style/js/owl.carousel.min.js"></script>							
			<script src="/Style/js/mail-script.js"></script>	
			<script src="/Style/js/main.js"></script>	
</body>
<!-- //Body -->

</html>

